<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CheapSynth01</string>
	<key>CFBundleGetInfoString</key>
	<string>CheapSynth01 v2.0.0 Copyright 2025 Yasuyuki Baba</string>
	<key>CFBundleIconFile</key>
	<string>CheapSynth01.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.github.yasuyukibaba.cheapsynth01</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CheapSynth01</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSignature</key>
	<string>CS01</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13.0</string>
	<key>NSMainNibFile</key>
	<string>CheapSynth01-macOS-MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SWELLApplication</string>
</dict>
</plist>
